@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import "tailwindcss";
@import "@nuxt/ui";
:root {
  --primary-blue: #1E88E5;
  --primary-light: #E3F2FD;
  --accent: #00BCD4;
  --text-dark: #161617;
  --text-light-dark: #4F4F4F;
  --text-light: #ffffff;
  --background: #F5F5F5;
  --boder: rgb(214, 214, 214);
}

h1, h2, h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: var(--text-dark);
}
body {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  color: var(--text-light-dark);
  background-color: var(--background);
  margin-left: 20px;
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: var(--text-dark);
}

button {
    width: 200px;
    padding: 10px;
    /* background-color: #1976D2; */
    background-color: var(--primary-blue);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
